{% extends 'base.html.twig' %}

{% block content %}
    <h1>Les questions à débattre</h1>

    <table class="table table-striped">
        <tr>
            <th>Question</th>
            <th>Appuis</th>
            <th>Actions</th>
        </tr>

        {# affichage des questions ici #}

    </table>
{% endblock %}

{% block title %}

{% endblock %}

