{% extends 'base.html.twig' %}
{% block content %}
    <h1>Foire aux questions</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ea error iure labore nemo nobis pariatur quidem ratione suscipit! Corporis dolores earum, eum laboriosam minima sit temporibus. Id quos, tempore.</p>
{% endblock %}

{% block title %}DemoLiquide | Foire aux questions{% endblock %}